In [2]:
import pandas as pd
import matplotlib.pyplot as plt

ka_rice_df = pd.read_csv('../data/karnataka_rice_2000_2017.csv')
ka_rice_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,Crop,Area_ha,Yield_kg_per_ha,N_req_kg_per_ha,P_req_kg_per_ha,K_req_kg_per_ha,Total_N_kg,Total_P_kg,Total_K_kg,Temperature_C,Humidity_%,pH,Rainfall_mm,Wind_Speed_m_s,Solar_Radiation_MJ_m2_day
0,64,2000,5,Karnataka,Bangalore,rice,29400.0,2585.03,64.62575,31.02036,56.87066,1899997.050,911998.5840,1.671997e+06,25,80,6.5,1200,2.0,18
1,64,2001,5,Karnataka,Bangalore,rice,19660.0,2396.74,59.91850,28.76088,52.72828,1177997.710,565438.9008,1.036638e+06,25,80,6.5,1200,2.0,18
2,64,2002,5,Karnataka,Bangalore,rice,9050.0,2245.30,56.13250,26.94360,49.39660,507999.125,243839.5800,4.470392e+05,25,80,6.5,1200,2.0,18
3,64,2003,5,Karnataka,Bangalore,rice,9220.0,2529.28,63.23200,30.35136,55.64416,582999.040,279839.5392,5.130392e+05,25,80,6.5,1200,2.0,18
4,64,2004,5,Karnataka,Bangalore,rice,12870.0,3042.74,76.06850,36.51288,66.94028,979001.595,469920.7656,8.615214e+05,25,80,6.5,1200,2.0,18